.widget-bjdvcarousel-clickable {
    cursor: pointer;
}

.widget-bjdvcarousel {
    display: inline-block;
}

.widget-bjdvcarousel.badge:empty {
    display: initial;
    /* Fix padding to stay round */
    padding: 3px 10px;
}

.widget-bjdvcarousel.label:empty {
    display: initial;
    /* Fix padding to stay square */
    padding: .2em .8em .3em;
}

.widget-bjdvcarousel.badge {
    min-width: 18px;
    min-height: 18px;
}

.slick-dots > li{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.commonButton{
    position: absolute;
    background: rgba(0, 0, 0, 0.25) !important;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
